.listing {
    position: relative;
    @include transition(0.3s);

    .listing-heading {
        display: block;
        @include typeBeta;

        + .listing-item {
            margin-top: -$sm-spacing;
        }
    }

    .listing-heading-section {
        display: block;
        position: relative;
        @extend .caps;
    }

    .listing-item {
        border-bottom: 1px solid $color-light-gamma;

        &:last-child {
            border-bottom: none;
        }

        .listing-item-body {
            display: none;
        }

        &.active {

            .listing-item-body {
                display: block;
            }

            .listing-item-toggle {

                svg.iconic {
                    @include transform(rotate(180deg));
                }
            }
        }
    }

    .postcard {
        margin: $sm-spacing;

        @include media($medium) {
            margin: $sm-spacing auto;
        }
    }

    .listing-toolbar {
        display: none;
        position: absolute;
        top: -100px;
        right: $sm-spacing;
        left: $sm-spacing;
        z-index: $top;
        @include transition(0.3s);

        @include media($medium) {
            right: $base-spacing;
            left: 298px;
        }
    }

    &.card {
        background-color: $color-light-delta;

        .listing-heading {
            border-bottom: $base-border;
            padding: $base-spacing $sm-spacing;

            @include media($medium) {
                padding: $base-spacing;
            }

            + .listing-item {
                margin-top: 0;
            }
        }
    }

    &.timeline {

        @include media($medium) {
            padding-left: 78px;
        }

        .listing-heading {
            text-align: center;
            margin: $lg-spacing $sm-spacing $sm-spacing;

            @include media($medium) {
                text-align: left;
                margin-bottom: $lg-spacing;
                margin-left: -78px;
            }
        }

        .listing-heading-section {
            text-align: center;
            padding: $tiny-spacing;
        }

        .postcard,
        .listing-heading-section {

            @include media($medium) {

                &:after {
                    top: 0;
                    bottom: -16px;
                    left: -54px;
                    height: auto;
                    margin-left: 0;
                }
            }
        }

        .postcard {

            &:last-of-type {

                &:after {
                    bottom: auto;
                    height: $base-spacing;

                    @include media($medium-down) {
                        content: none;
                    }
                }
            }
        }

        .listing-heading-section {

            @include media($medium) {
                display: inline-block;
                color: $color-light-alpha;
                @include equal-radius();
                background-color: $color-light-beta;
                padding: $tiny-spacing $sm-spacing;
                margin: 0 auto;

                /*
                text-shadow: 0 0 $sm-spacing $color-primary-zeta,
                    0 4px $tiny-spacing $color-primary-zeta,
                    0 -4px $sm-spacing $color-primary-zeta;

                &:before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: 50%;
                    right: 0;
                    left: 0;
                    height: 1px;
                    background-color: $color-light-beta;
                }
*/
                &:after {
                    top: -$sm-spacing;
                }
            }
        }
    }

    &.toolbar-active {
        margin-top: 116px;

        @include media($medium) {
            margin-top: 100px;
        }

        .listing-toolbar {
            display: block;
        }
    }
}

// My code

// .postcard-field {

//     &.summary-listing{
//        border-bottom: 1px solid $color-light-gamma;
//        margin-top: 0;
//        margin-bottom: 0;
//        padding-bottom: $sm-spacing;


//        &:last-child {
//                 border-bottom: none;
//             }

//        h2{
//         padding-bottom:3px;
//          padding-top: 15px;
//        }
       
//         p{
//         margin-top:5px;
//         margin-bottom: 0;
//         font-size:12px;
//        }

//     }

//     &.tweet {

//     }
// }

.tweet{

}

blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  border: #ddd 1px solid;
  

  border-radius: 5px;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}

blockquote.twitter-tweet img{
  float:left;
  margin-right:10px;
}
 
blockquote.twitter-tweet p {
  font-weight: normal ;
  font-size:16px;
  margin: 0 5px 10px 0;
  float:left;
}
 
blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}
