[role="main"].topics {
    padding-top: 85px;

    @include media($small) {
        padding-top: 65px;
    }

    @include media($medium) {
        padding-top: 0;
    }

    .main-col {
        padding-bottom: 70px;
    }

    #keyword-search {
        margin-bottom: 40px;
    }

    .input-with-icon,
    h2 {
        margin-bottom: $base-spacing;
    }

    input[type="search"] {
        max-width: 650px;
    }

    .listing.toolbar-active {
        margin-top: 0;

        .listing-toolbar {
            top: 55px !important;

            @include media($medium) {
                top: 0 !important;
            }

        }

    }

    .listing {
        @include span-columns(12);
        float: none;
        max-width: 650px;

        &.card {
            box-shadow: none;
        }

    }

    .listing-item {

        .listing-item-primary {

            h2 {
                font-weight: bold;
                margin-bottom: 12px;
            }

            .listing-item-secondary {
                margin: 0;

                &.topic-description {
                    font-size: 1em;
                    margin-bottom: 10px;
                }

            }

        }

        .listing-item-primary.tweet {
            @include span-columns(12);
            margin-right: 0;
            padding: $base-spacing;

            a {
                color: $blue;
            }

            .listing-item-image .avatar {
                border-radius: 4px;
            }

            .listing-item-title {
                margin-bottom: 10px;

                .tweet-name {
                    font-weight: bold;
                }

            }

            .tweet-date {
                color:$color-dark-delta;
                font-size: $base-font-size;
                margin-bottom: 0;
                padding-left: 60px;
            }

        }

        .pagination ul {
            margin-top: 13px;
        }

    }

}
