[role="main"].topics {
    padding-top: 85px;

    @include media($small) {
        padding-top: 65px;
    }

    @include media($medium) {
        padding-top: 0;
    }

    .main-col {
        padding-bottom: 70px;
    }

    #keyword-search {
        margin-bottom: $base-spacing;
    }

    button.button-alpha {
        margin-bottom: $base-spacing;
    }

    .input-with-icon,
    h2 {
        margin-bottom: $base-spacing;
    }

    input[type="search"] {
        max-width: 650px;
    }

    .listing.toolbar-active {
        margin-top: 0;

        .listing-toolbar {
            top: 55px !important;

            @include media($medium) {
                top: 0 !important;
            }

        }

    }

    .listing {
        @include span-columns(12);
        float: none;
        max-width: 650px;

        &.card {
            box-shadow: none;
        }

    }

}

// Tweets
.listing.tweet {

    .listing-item {

        .listing-item-primary {

            h2 {
                font-weight: bold;
                margin-bottom: 12px;
            }

            .listing-item-secondary {
                margin: 0;

                &.topic-description {
                    font-size: 1em;
                    margin-bottom: 10px;
                }

            }

        }

        .listing-item-primary.tweet {
            @include span-columns(12);
            margin-right: 0;
            padding: $base-spacing;

            a {
                color: $blue;
            }

            .listing-item-image .avatar {
                border-radius: 4px;
            }

            .listing-item-title {
                margin-bottom: 10px;

                .tweet-name {
                    font-weight: bold;
                }

            }

            .tweet-date {
                color:$color-dark-delta;
                font-size: $base-font-size;
                margin-bottom: 0;
                padding-left: 60px;
            }

        }

        .pagination ul {
            margin-top: 13px;
        }

    }

}

[role="main"] .main-col.phemes {

    @include media($small) {
        padding-left: 0;
    }

    .alert {
        margin: 30px 16px;
        display: block;

        @include media($small) {
            margin-top: 10px;
        }

        @include media($medium) {
            margin: 10px 0 15px 0;
            display: inline-block;
        }

    }

    .toolbox {

        @include media($small) {
            margin-top: 75px;
        }

        .form-field {
            float: left;
            margin: 16px 8px 0 0;

            .custom-select select {
                padding: 12px 26px 12px 8px
            }

        }

        .buttons-updown {
            margin-top: 16px;
        }

    }

    .listing {
        margin-bottom: 0;

        &.timeline {

            @include media($medium) {
                padding-left: 24px;
            }

        }

        .postcard .listing-summary {
            margin-bottom: 16px;

            .most-shared-image {
                margin-top: 16px;
            }

        }

        .listing-item {

            .form-label {
                padding-top: 0;
            }

            .listing-item-primary.tweet {
                padding: 16px 16px 16px 0;
                border-bottom: none;

                .listing-item-image {
                    top: 16px;
                }

            }

        }

    }

}
