/*------------------------------------*\
    $COLORS
\*------------------------------------*/

@function set-topic-label-color($color) {
    @if (lightness($color) > 50) {
        @return #000000; // Lighter backgorund, return dark color
    } @else {
        @return #ffffff; // Darker background, return light color
    }
}

.topic-label {
    padding: 3px;
    font-weight: bold;
}

$phemeTopicColors:

#8899AA,
#557777,
#118888,
#884411,
#7F3F42,
#005BA8,
#115588,
#3D454C,
#074F8C,
#003366,
#550fbc,
#e67c12,
#bc0fb0;

@for $i from 1 through length($phemeTopicColors) {
  $phemeTopicColors: append($phemeTopicColors, darken(nth($phemeTopicColors, $i), 25));
}

$phemeTopicColorsLength: length($phemeTopicColors);

@for $i from 1 through $phemeTopicColorsLength {

    .topic-color-#{$i} {
        background-color: nth($phemeTopicColors, $i);
        // color: set-topic-label-color(nth($phemeTopicColors, $i));
        color: $white;
    }

}
